<div class="guest-home">
  <img src="../../assets/6edhluhna5431.jpg" alt="meme-pic">
  <p>This is a place where you can find and collect all the funny memes about developers. No offensive speech is
      allowed, if want to upload your meme just make sure if doesn't exist already and leave a short description.
      If you want to check our collection or add one from yours's please <a routerLink="/user/login">Login</a>.
      If you don’t have an account please <a routerLink="/user/register">Register</a>.
  </p>
</div>
<div class="user-home">
  
</div>
<!-- <div class="welcome">
  <h3>Welcome!</h3>
  <p>SoftUni forum is a place, where you can post your questions, comment, and discuss problems, which
    you have in your programming language or in your study in SoftUni.</p>
  <div class="logged" *ngIf="!(isLogged$ | async)">
    <ul>
      <li>
        <a routerLink="/user/login">
          <i class="fas fa-sign-in-alt"></i>
          Login
        </a>
      </li>
      <li>
        <a routerLink="/user/register">
          <i class="fas fa-user-plus"></i>
          Register
        </a>
      </li>
    </ul>
  </div>
</div> -->